.testapp-currency-table-component {
    padding: 32px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    .testapp-currency-table-header {
        h1 {
            margin: 0;
        }

        .row {
            padding: 25px 0;

            .col {
                flex: initial;
            }
        }
    }

    table {
        td,
        th {
            &:nth-child(2) {
                width: 222px;
            }

            &:nth-child(3) {
                width: 132px;
            }

            &:nth-child(4) {
                width: 52px;
            }
        }

        thead {
            tr {
                border-bottom: 1px solid rgba(#000, 0.07);

                th {
                    padding: 8px 0;
                    color: $colorTextMedium;
                    font-size: 11px;
                    font-weight: 600;
                    line-height: 12px;
                    text-transform: uppercase;
                    letter-spacing: 0.066px;
                }
            }

        }

        tbody {
            tr {
                border-bottom: 1px solid rgba(#000, 0.07);
                cursor: pointer;

                &.testapp-currency--selected {
                    background-color: rgba(#000, 0.03);
                }

                td {
                    padding: 2px 0;
                    font-size: 14px;
                    line-height: 22px;

                    &:first-child {
                        font-weight: 600;
                    }

                    &.testapp-col-delete {
                        padding: 2px 8px;
                        text-align: right;

                        button {
                            padding: 8px;

                            &:hover {
                                background-color: rgba(#000, 0.05);
                            }
                        }
                    }
                }
            }
        }
    }
    
    .testapp-no-results {
        padding: 24px;
        color: $colorTextMedium;
        text-align: center;
    }
}